<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Shop
        link(rel="stylesheet", href="/header.css")
        link(rel="stylesheet", href="/main.css")
        block styles
    body(style="margin: 0; padding: 0")
        header 
            ul
                li
                    a(href="/") Shop
                li
                    a(href="/admin/add-product") Add product
        block content